// MIXINS
@mixin active {
	background: #2ecc71;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: greyscale;
}

body {
	background: #ecf0f1;
	font-family: 'Overpass', Helvetica, Arial, sans-serif;
}

section {
	padding: 6rem 3rem;
	text-align: center;
	font-size: 1.6rem; /* 16px / 10px = 1.6rem */

	// Positional styles
	&:nth-child( even ) {
		background: rgba( 0, 0, 0, 0.06 );
	}

	 // Descendant elems.
	 h2 {
		 color: #333;
		 margin-bottom: 1rem;
		 font-size: 2.25em; /*  36px / 16px = 2.25em */
		 text-transform: uppercase;
		 text-shadow: 0rem 0.3rem 0.3rem rgba( 0, 0, 0, 0.05 );
	 }

	 p {
		 max-width: 50rem;
		 margin: 0 auto 2rem;
	 }
}

h1,
h2,
h3
h4,
h5,
h6 {
	margin: 0;
}

.query-wrap {
	max-width: 76.8rem;
	margin: 0 auto;
}

.query {
	display: inline-block;
	color: rgba( 0, 0, 0, 0.5 );
	background-color: rgba( 0, 0 ,0, 0.1 );
	border-radius: 0.4rem;
	margin: 1rem;
	padding: 0.5rem 0.8rem 0.6rem;

	font-size: 0.875em; /* 14px / 16px = 0.875em */
	font-weight: 600;
}

// MEDIA QUERIES: WIDTH
@media ( min-width: 0px ) {
	.query--min-width-0px {
		@include active;
	}
}

@media ( max-width: 1200px ) {
	.query--max-width-1200px {
		@include active;
	}
}

@media ( min-width: 600px ) and ( max-width: 768px ) {
	.query--min-width-600px-and-max-width-768px {
		@include active;
	}
}

// MEDIA QUERIES: HEIGHT
@media ( min-height: 600px ) {
	.query--min-height-600px {
		@include active;
	}
}

@media ( max-height: 1000px ) {
	.query--max-height-1000px {
		@include active;
	}
}

@media ( min-height: 500px ) and ( max-height: 750px ) {
	.query--min-height-500px-and-max-height-750px {
		@include active;
	}
}

// MEDIA QUERIES: HEIGHT
@media ( aspect-ratio: 1/1 ) {
	.query--aspect-ratio-1-1 {
		@include active;
	}
}

@media ( min-aspect-ratio: 3/2 ) {
	.query--min-aspect-ratio-3-2 {
		@include active;
	}
}

@media ( max-aspect-ratio: 3/4 ) {
	.query--max-aspect-ratio-3-4 {
		@include active;
	}
}

// MEDIA QUERIES: ORIENTATION
@media ( orientation: landscape ) {
	.query--orientation-landscape {
		@include active;
	}
}

@media ( orientation: portrait ) {
	.query--orientation-portrait {
		@include active;
	}
}

// MEDIA QUERIES: RESOLUTION
@media ( min-resolution: 1dppx ) {
	.query--min-resolution-1dppx {
		@include active;
	}
}

@media ( min-resolution: 2dppx ) {
	.query--min-resolution-2dppx {
		@include active;
	}
}

@media ( min-resolution: 72dpi ) {
	.query--min-resolution-72dpi {
		@include active;
	}
}

@media ( min-resolution: 144dpi ) {
	.query--min-resolution-144dpi {
		@include active;
	}
}

@media ( min-resolution: 300dpi ) {
	.query--min-resolution-300dpi {
		@include active;
	}
}

// MEDIA QUERIES: COLOR/MONOCHROME
@media ( color ) {
	.query--color {
		@include active;
	}
}

@media ( monochrome ) {
	.query--monochrome {
		@include active;
	}
}

// MEDIA QUERIES: COLOR INDEX
@media ( color-index ) {
	.query--color-index {
		@include active;
	}
}

@media ( min-color-index: 2 ) {
	.query--min-color-index-2 {
		@include active;
	}
}
